<!-- <p>footer works!</p> -->
<div class="form">
    <div class="container">
      <form class="forms">
        <hr>
        <label for="yourname">NAME</label>
        <input type="text" id="name" name="name" placeholder="Enter your name..">
  
        <label for="experience">SHARE YOUR EXPERIENCE</label>
        <textarea id="experience" name="experience" placeholder="My journey as a ProGrad was........" ></textarea>
  
        <button class="button">POST</button>
        <hr>
      </form>
    </div>
  </div>
  